<ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

  <ion-menu-toggle auto-hide="true">
    <ion-item routerLink="/registro-list">
      <ion-icon name="list-outline" slot="start"></ion-icon>
      Lista de accesos
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle auto-hide="true">
    <ion-item routerLink="/registro-acceso">
      <ion-icon name="log-in-outline" slot="start"></ion-icon>
      Registrar accesos
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle auto-hide="true">
    <ion-item (click)="salir()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Cerrar sesión
    </ion-item>
  </ion-menu-toggle>

</ion-list>

  </ion-content>
</ion-menu>
